body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#background {
  background-image: url('./assets/Images/Background/UI_Background.png');
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#inventory {
  display: flex;
  background-image: url('./assets/Images/InventoryMain/IMG_InventoryPanel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45vw;
  height: 100vh;
  z-index: 1;
  position: relative;
}

#decorations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#decor-top {
  width: 8%;
  margin-top: -72%;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
  z-index: 2;
}

#grid-background {
  width: 82%;
  margin-top: 10%;
  z-index: 2;
}

#grid-border {
  width: 84%;
  margin-top: 10%;
  z-index: 4;
}

#inventory-icon {
  width: 20%;
  margin-top: -52%;
  z-index: 2;
}

#grid-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px; /* adjust as needed */
  width: 80%;
  margin-top: 15%; 
  margin-left: 4%;
  z-index: 3; /* This should be less than grid-border but greater than grid-background */
}
