body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'MenusPrimaryFont';
  src: url('/assets/Fonts/MenusPrimaryFont.ttf') format('truetype');
}
@font-face {
  font-family: 'NumericsFont';
  src: url('/assets/Fonts/NumericsFont.otf') format('opentype');
}
@font-face {
  font-family: 'ToolTipDescription';
  src: url('/assets/Fonts/ToolTipDescription.ttf') format('truetype');
}

#background {
  background-image: url('./assets/Images/Background/UI_Background.png');
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#inventory {
  display: flex;
  background-image: url('./assets/Images/InventoryMain/IMG_InventoryPanel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45vw;
  height: 100vh;
  position: relative;
}

#decorations {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#decor-top {
  width: 8%;
  margin-top: -72%;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

#grid-background {
  width: 82%;
  margin-top: 10%;
}

#grid-border {
  width: 84%;
  margin-top: 10%;
  z-index: 6;
}

#inventory-icon {
  width: 20%;
  margin-top: -52%;
}

#grid-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 80%;
  margin-top: 10%; 
  margin-left: 0%;
  overflow: hidden;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}
